<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> NODJS-WELCOME </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container my-2" align="center">
        <div class="card">
            <div class="card-body">
                <div th:switch="${customers}" class="container my-5">
                    <p class="my-5">
                    <h4 class=headText>1. ENTRY OF LOAN DETAILS</h4>
                    <form action="http://localhost:3030/tloans" method="post">
                        <label for="name">FULL-NAME</label> <input type="text" name="name" width="600">
                        <label for="mobile"> MOBILE</label><input type="text" name="mobile" width="600"> <br>
                        <label for="office"> OFFICE</label> <select name="office" width="600">
                            <option value="computing">Computing</option>
                            <option value="accounting">Accounting</option>
                            <option value="humanresource">Human Resource</option>
                            <option value="finance">Finance</option>
                        </select>
                        <label for="stars">stars</label> <select name="stars" width="600">
                            <option value="permanent">Permanent</option>
                            <option value="part-time">Part-time</option>
                            <option value="contract">Contract</option>
                            <option value="casual">Casual</option>
                        </select>
                        <input type="submit">
                    </form>
                    <br><br><br>

                    <h4 class=headText>2. EDIT OF LOAN ADDRESS/EDIT</h4>
                    <form action="http://localhost:3030/tloans" method="put">
                        <label for="id">ID</label> <input type="number" name="id" width="600">
                        <label for="name">FULL NAME</label> <input type="text" name="name" width="600">
                        <label for="salary">GROSS-SALARY</label><input type="text" name="salary" width="600"> <br>
                        <label for="post">JOB POSITION</label> <select name="post" width="600">
                            <option value="administrator">Administrator</option>
                            <option value="lecturer">Lecturer</option>
                            <option value="secretarial">Secretarial</option>
                            <option value="professional">Professional</option>
                        </select>
                        <label for="dept">JOB DEPARTMENT</label> <select name="dept" width="600">
                            <option value="computing">Computing</option>
                            <option value="accounting">Accounting</option>
                            <option value="humanresource">Human Resource</option>
                            <option value="finance">Finance</option>
                        </select>
                        <label for="status">STATUS</label> <select name="status" width="600">
                            <option value="permanent">Permanent</option>
                            <option value="part-time">Part-time</option>
                            <option value="contract">Contract</option>
                            <option value="casual">Casual</option>
                        </select>
                        <input type="submit">
                    </form>

                    <br><br><br>
                    <h4 class=headText>3. DELET OF LOAN CLIENTS/DELETE</h4>
                    <form action="http://localhost:3030/tloans" method="delete">
                        <label for="id">ID OF TRUSH</label> <input type="number" name="id" width="1600">
                        <input type="submit">

                        <br><br><br>

                    </form><br>
                    <h4 class=headText>4. DISPLAY VIEW OF LOANS</h4>
                    <form action="http://localhost:3030/tloans" method="get">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                                <tr>
                                    <th>FULL NAME</th>
                                    <th>GROSSPAY</th>
                                    <th>STATUS</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="loans : ${customers}">
                                    <td th:text="${loans.post}"></td>
                                    <td th:text="${loans.dept}"></td>
                                    <td th:text="${loans.statusl}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>