<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monze2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
</head>
<body>
        <div class="container my-2">
          <div class="card">
                <div class="card-body">
                    <div th:switch="${customers}" class="container my-5">  
                        <p class="my-5">
                         <h4 class=headText>ENTRY OF EMPLOYEE DETAILS</h4>
    <form action="http://localhost:6060/employees" method="post">
        <label for="name">FULL NAME</label> <input type="text" name="name" width="600">
        <label for="salary">GROSS-SALARY</label><input type="text" name="salary" width="600"> <br>
        <label for="post">JOB POSITION</label> <select name="post" width="600">
                <option value="administrator">Administrator</option>
                <option value="lecturer">Lecturer</option>
                <option value="secretarial">Secretarial</option>
                <option value="professional">Professional</option></select>  
        <label for="dept">JOB DEPARTMENT</label> <select name="dept" width="600">
                <option value="computing">Computing</option>
                <option value="accounting">Accounting</option>
                <option value="humanresource">Human Resource</option>
                <option value="finance">Finance</option></select> 
        <label for="status">STATUS</label> <select name="status" width="600">
                        <option value="permanent">Permanent</option>
                        <option value="part-time">Part-time</option>
                        <option value="contract">Contract</option>
                        <option value="casual">Casual</option></select> 
        <input type="submit">
    </form><br>
    <h4 class=headText>EDIT OF EMPLOYEE ADDRESS/EDIT</h4>
    <form action="http://localhost:6060/employees" method="put">
        <label for="id">ID</label> <input type="number" name="id" width="600">
        <label for="name">FULL NAME</label> <input type="text" name="name" width="600">
        <label for="salary">GROSS-SALARY</label><input type="text" name="salary" width="600"> <br>
        <label for="post">JOB POSITION</label> <select name="post" width="600">
                <option value="administrator">Administrator</option>
                <option value="lecturer">Lecturer</option>
                <option value="secretarial">Secretarial</option>
                <option value="professional">Professional</option></select>  
        <label for="dept">JOB DEPARTMENT</label> <select name="dept" width="600">
                <option value="computing">Computing</option>
                <option value="accounting">Accounting</option>
                <option value="humanresource">Human Resource</option>
                <option value="finance">Finance</option></select> 
        <label for="status">STATUS</label> <select name="status" width="600">
                        <option value="permanent">Permanent</option>
                        <option value="part-time">Part-time</option>
                        <option value="contract">Contract</option>
                        <option value="casual">Casual</option></select> 
        <input type="submit">
    </form><br>
    <h4 class=headText>DELET OF EMPLOYEE FAMILY/DELETE</h4>
    <form action="http://localhost:6060/employees" method="delete">
        <label for="id">ID OF TRUSH</label> <input type="number" name="id" width="1600">
  <input type="submit">

    </form><br>
<h4 class=headText>DISPLAY VIEW OF EMPLOYEES</h4>
    <form action="http://localhost:6060/employees" method="get">
           <table class="table table-striped table-responsive-md">
                   <thead>
                       <tr><th>FULL NAME</th><th>GROSSPAY</th>
                       <th>STATUS</th><th>Update</th>
                      </tr>
                      </thead>
              <tbody>
                    <tr th:each="employees : ${employees}">
                               <td th:text="${employees.post}"></td>
                                        <td th:text="${employees.dept}"></td>
                                        <td th:text="${employees.statusl}"></td>
                                    </tr>
                                </tbody>
                            </table>
                 <input type="submit">
    </form>
</div>
</div>
</div>
</div>
</body>
</html>